:root {
  --modspotify_dark_text: #1E1E3F;
  --modspotify_scrollbar: #a599e981;
}
::-webkit-scrollbar {
  height: 6px !important;
  width: 6px !important;
}
::-webkit-scrollbar-thumb {
  background-color: var(--modspotify_scrollbar) !important;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4D21FC !important;
}
::-webkit-scrollbar-thumb:active {
  background-color: #FAD000 !important;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-button {
  height: 0 !important;
}
.Header__background-color,
.glue-page-header__background-color {
  background-image: linear-gradient(to bottom, var(--modspotify_sidebar_and_player_bg), #2D2B55) !important;
}
#remote-playback-bar span {
  color: var(--modspotify_dark_text);
}
.context-menu,
.profile-menu {
  background-color: #212542;
  box-shadow: 0px 1px 3px 0px rgba(var(--modspotify_rgb_cover_overlay_and_shadow), 0.5);
  border-radius: 0;
}
input[type="search"] {
  background-color: #2C2F52;
  border: 1px solid #212542;
  border-radius: 0 !important;
  padding: 0 0 0 24px;
  color: #FAD000;
}
input[type="search"]::placeholder {
  color: #A1A0E4;
}
.SearchInput__searchIcon {
  color: #9797A2;
}
/* TODO: I think I actually like it better without the yellow...
TODO: I forget what this even does now...
.nft-enabled .view-player .now-playing-container .button-add.added,
.nft-enabled .view-player .now-playing-container .button-add.added:not(:disabled):hover {
	color: var(--modspotify_sidebar_indicator_and_hover_button_bg);
}
*/

.added .button-add:not(.button-icon-only):not(.button-icon-with-stroke),
.button-add.added:not(.button-icon-only):not(.button-icon-with-stroke),
.added .button-add:not(.button-icon-only):not(.button-icon-with-stroke).contextmenu-active,
.added .button-add:not(.button-icon-only):not(.button-icon-with-stroke):not(:disabled):hover,
.button-add.added:not(.button-icon-only):not(.button-icon-with-stroke).contextmenu-active,
.button-add.added:not(.button-icon-only):not(.button-icon-with-stroke):not(:disabled):hover {
  color: var(--modspotify_main_fg);
}
.tracklist-album tr:hover button[data-button=add-recommendation],
.tracklist-chart tr:hover button[data-button=add-recommendation],
.tracklist-basic tr:hover button[data-button=add-recommendation],
.tracklist-playlist tr:hover button[data-button=add-recommendation],
.tracklist-podcast tr:hover button[data-button=add-recommendation],
.tracklist-popular tr:hover button[data-button=add-recommendation],
.tracklist-station tr:hover button[data-button=add-recommendation],
.tracklist-queue tr:hover button[data-button=add-recommendation],
.tracklist-search tr:hover button[data-button=add-recommendation] {
  background-color: var(--modspotify_indicator_fg_and_button_bg);
  color: var(--modspotify_dark_text);
}
.slider {
  background-color: var(--modspotify_main_bg);
  border-color: transparent;
}
.button.button-blue {
  color: var(--modspotify_dark_text);
  background-color: var(--modspotify_indicator_fg_and_button_bg);
}
.button.button-blue:not(:disabled):hover {
  transform: scale(1.07143);
  color: var(--modspotify_dark_text);
  background-color: var(--modspotify_indicator_fg_and_button_bg);
}

.button.button-green,
.Button--style-green {
  color: var(--modspotify_dark_text);
}
.button.button-green.contextmenu-active,
.button.button-green:not(:disabled):hover {
  color: var(--modspotify_dark_text);
}
.view-player .player-controls-container .controls .button-repeat.active:not(:disabled):hover:active,
.view-player .player-controls-container .controls .button-shuffle.active:not(:disabled):hover:active,
.view-player .player-controls-container .controls .button-thumbs-down.active:not(:disabled):hover:active,
.view-player .player-controls-container .controls .button-thumbs-up.active:not(:disabled):hover:active {
  color: var(--modspotify_secondary_fg);
}
.tl-explicit .label,
.tl-premium .label {
  color: var(--modspotify_secondary_fg);
  border-color: var(--modspotify_scrollbar_fg_and_selected_row_bg) !important;
  border-radius: 0;
}
.tl-row:hover .tl-explicit .label,
.tl-row:hover .tl-premium .label,
.tl-row.selection-focus .tl-explicit .label,
.tl-row.selection-focus .tl-premium .label {
  border-color: var(--modspotify_scrollbar_fg_and_selected_row_bg) !important;
}
